
<html>
    <head><h1>~ Sign Up for Movie Explorer! ~</h1>
        
        <body>
            {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <b>{{message}}</b>
                {% endfor %} 
            {% endif %} 
        {% endwith %}         
        <form method="POST" action="/">
            <input type="text" name="add_user" placeholder="create a user name">
            <input type="submit" value="Submit" style="background-color:palegoldenrod">
        </form>
        <h1></h1>
        <h1></h1>
        <h1></h1>
        <img src = "https://media.cntraveler.com/photos/5553750ad9889c6c03ab74c4/master/w_2048,h_1536,c_limit/island-house-cinema-cr-courtesy.jpg"
        width = "800"
        height = "400"/>
        <a href ="test">Click here to go to Login Page</a>
        </body>
    </head>
</html>
